/*--CSS STYLE--*/

/*
###############--COLOR LOVER--###############
Ruggedby kaysabelle RGB - 16,86,121 - 105679
Beach Waterby donna doodle RGB - 55,120,148 - 377894
9ba7bcby superchicami RGB - 155,167,188 - 9BA7BC
violetby Ladizme RGB - 202,177,191 - CAB1BF
Adelaideby marangpi RGB - 245,197,214 - F5C5D6
#############################################
*/

*,*:before,*:after{box-sizing: inherit;}

html{box-sizing: border-box;}

body{margin: 0;padding: 0;}

html, body{
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0;
}

h1{font-size: 36px;} 
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
h6{font-size: 16px;}

.header{
	padding: 100px 25px;
	text-align:	center;
	background-color: #105679;
	color: #ffffff;
}

.header h1{
	letter-spacing: 3px; /*Khoang cach giua cac tu*/
	font-weight: 500;
	font-size: 40px;
}

/*--NAVBAR--*/
.navbar{
	overflow: hidden;
	position: fixed;
	top: 0;
	display: inline-block;
	width: 100%;
	background-color: #105679;
}

.navbar #nav_links{
	display: none;
}

.navbar a{
	display: block;
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a.nav_icon{
	background-color: #105679;
	display: block;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
}

.navbar a:hover{
	background-color: #105679;
}

.navbar a.active{
	background-color: #105679;
}

@media screen and (min-width: 768px){
	

}



[class*="col-"]{
	float: left;
	border: 1px solid blue;
}

.row::after{
	content: "";
	clear: both;
	display: table;
}

.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.34%;}
.col-8{width:66.67%;}
.col-9{width:75%;}
.col-10{width:83.34%;}
.col-11{width:91.67%;}
.col-12{width:100%;}

